body {
	padding: 0;
	margin: 0;
	overflow: hidden,
	width: 100vw;
	height: 100vh;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	background-image: url('./images/bg2.jpg');
}

.content {
	overflow-x: hidden;
	overflow-y: hidden;
}

.intro {
	width: 100%;
	height: auto;
	padding: 2px;
	background-color: rgba(0, 0, 0, 0.35);
	color: white;
	border-bottom: 4px solid black;
	text-align: center;
}

.section {
	text-align: left;
 	display: block;
}

#ebook{
	margin: 0 auto;
	width: 1152px;
	height: 752px;
}

.page {
	border-left: 8px solid #361c00;
}

.page-right {
	border-right: 8px solid #361c00;
}

#ebook .turn-page{
	background-color:#ccc;
	background-size: 100% 100%;
	width: auto;
}